__pycache__/
*.pyc
*.pyo
*.pyd
.env
extension/config.js
.venv/
venv/

server/whisper.cpp/build/
server/whisper.cpp/
server/whisper.cpp/*.o
server/whisper.cpp/*.a

server/whisper.cpp/models/*.bin

tmp/
temp/
*.log

test.webm